NODE_ENV = "dev"
WEBCLIENT_REQUEST_ORIGIN="http://localhost:4200"
ISSUER = "okarimdev"
JWT_SECRET = "developmentJwtSecret"
JWT_EXP = 3600000
GOOGLE_PROJ_ID = ""
GOOGLE_API_KEY = ""
GOOGLE_OAUTH2_CLIENT_ID = ""
GOOGLE_OAUTH2_CLIENT_SECRET = ""
PORT  = 5000
DB_TYPE = "postgres"
DB_HOST = "localhost"
DB_PORT = 5432
DB_USERNAME = "omarkarim"
DB_PASSWORD = "omarkarim"
DB_DATABASE = "app_auth_server"
DB_SYNCHRONIZE = 'false'
DB_LOGGING = 'false'
DB_DEV_ENTITIES_PATH = "src/entity/**/*.ts"
DB_DEV_MIGRATIONS_PATH = "src/migration/**/*.ts"
DB_DEV_SUBSCRIBERS_PATH = "src/migration/**/*.ts"
DB_PROD_ENTITIES_PATH = "dist/entity/**/*.js"
DB_PROD_MIGRATIONS_PATH = "dist/migration/**/*.js"
DB_PROD_SUBSCRIBERS_PATH = "dist/subscriber/**/*.js"
DB_PROD_SUBSCRIBERS_PATH = ""